@charset "UTF-8"; 

/* ▼body------------------------------------------------------ */
#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:999;
	width: 100%;
	height: 100%;
	mix-blend-mode:plus-lighter;	
	filter: blur(0.5px);
	pointer-events: none;
}


/* ▼header------------------------------------------------------ */
/* ▼main------------------------------------------------------ */
/* ▼footer------------------------------------------------------ */
/* ▼other------------------------------------------------------ */
